.home{
    margin-top: 5px;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:start
    /* background-image:url("./assets/p4.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
   }

.home h2{
    color: rgb(0, 0, 0);
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}

#nav-item{
    display: flex;
    justify-content: center;
}

#nav-item li{
    margin: 3vh;
    list-style-type: none;
    font-weight:700;
}

#nav-item li:hover{
    cursor: pointer;
    color: rgb(16, 137, 0);
}